

.fuge {
    float: left;
    width: 30vw;
    margin: 1vh;
    box-sizing: border-box;
    
    border-color: rgb(41, 68, 40);
    border-style: dotted;
    
}



.fage {
    float: right;
    width: 35vw;
    margin: 2vh;
    box-sizing: border-box;
    border-color: rgb(41, 68, 40);
    border-style: dotted;
}

