

.face {
    position: absolute;
    float: right;
    right: 1vw;
    top: 1vw;
}


.fuge {
    float: left;
    width: 33vw;
    height: 41vw;
    margin: 1vh;
    box-sizing: border-box;
    
    border-color: rgb(41, 68, 40);
    border-style: dotted;
    padding-right: 5em;
}



.fage {
    float: left;
    width: 31vw;
    margin: 2vh;
    box-sizing: border-box;
    border-color: rgb(41, 68, 40);
    border-style: dotted;
}

