




/* Set nav to sticky or fixed */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}








a:link {
  color: #f2fffa;
}

/* unvisited link */
a:visited {
  color: #50ffbc;
}

/* visited link */
a:hover {
  color: #ffb2a8;
}

/* mouse over link */
a:active {
  color: #fff09e;
}

/* selected link */

.p1 {
  font-family: "Courier New", "Lucida Console", monospace;
}

.p2 {
  font-family: monospace, "Courier New", "Lucida Console";
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

form {
  margin: auto;
  display: grid;
  text-align: center;

  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}


body {
  
  vertical-align: middle;
  
  
}

.candyUs {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  border-width: 100%;
  display: grid;


}

.accent {
  height: 60%;
  width: 23%;
  float: left;
  padding: 1em;

  background-color: #30547E;
}

.starfile {
  padding: 2em;
}

.zester {
  color: #E3EEEA;
}


/* * {
  box-sizing: border-box;
} */

header {
  
  height: 10%;
  color: #E3EEEA;
  padding: 1em;
  background: #23483C no-repeat 80% 10px;
}

nav {
  
  height: 2.5em;
  /* padding-left: 1em; */
  background-color: #23483C;
  color: #E3EEEA;
}

a {
  color: #E3EEEA;
}

.artsy {
  
  margin: 2vh;
  float: left;
  padding: 1em;
}

footer {
  
  height: 100%;
  clear: both;
  color: #E3EEEA;
  text-align: center;
  padding-top: .5em;
  background: #102C23 no-repeat left bottom;
}


/* main {
  width: 80%;
  height: 24em;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
} 

/* main {
    width: 80%;
    height: 24em;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
  }



 */